< !DOCTYPE html>
    <html>

    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/index.css" />
    </head>

    <body>
        <div class="demo-wrapper">
            <h1 class="title">
                <%= title %>
            </h1>
            <p>KOA_APP_BASE_URL: <%= baseUrl %>
            </p>
            <p>KOA_APP_RUN_ENV: <%= runEnv %>
            </p>
        </div>

    </body>

    </html>